# DATABASE
DB_HOST=host.docker.internal
DB_PORT=3308
DB_USER=root
DB_PASSWORD=112233
DB_DATABASE=sub_hdc

# SYS
ENCRYPT_KEY=your_encrypt_key_here
JWT_KEY=your_jwt_key_here
AUTH_SECRET=your_auth_secret_here
AUTH_TRUST_HOST=true
AUTH_USERNAME=admin
AUTH_PASSWORD=your_admin_password_here
CENTER_NAME=ชื่อศูนย์ข้อมูล
AMP_CODE = 6501

# AGENT
DEEPSEEK_API_KEY=your_deepseek_api_key_here
DEEPSEEK_MODEL=deepseek-v4-flash
DEEPSEEK_BASE_URL=https://api.deepseek.com

# SYNC
SSJ_BASE_URL=https://subhdc.plkhealth.go.th
SSJ_ENDPOINT_GET_SQL=/api/sync-sql
SSJ_ENDPOINT_POST=/api/data-sync-in
SSJ_SYNC_SECRET=your_ssj_sync_secret_here
